.bg- {
    &normal {
        background-color: #C2C1D4;
    }
    &grass {
        background-color: #48D0B0;
    }
    &fire {
        background-color: #FB6C6C;
    }
    &water {
        background-color: #76BDFE;
    }
    &bug {
        background-color: #BAE66E;
    }
    &flying {
        background-color: #AEC1FF;
    }
    &electric {
        background-color: #ffd86f;
    }
    &poison {
        background-color: #db9cec;
    }
    &ground {
        background-color: #E0C068;
    }
    &fairy {
        background-color: #fdb9e9;
    }
    &fighting {
        background-color: #f79f69;
    }
    &psychic {
        background-color: #fa6793;
    }
    &steel {
        background-color: #5a8fa1;
    }
    &ghost {
        background-color: #5269ad;
    }
    &dark {
        background-color: #5a5267;
    }
    &dragon {
        background-color: #208ceb;
    }
    &ice {
        background-color: #7bdaca;
    }
    &rock {
        background-color: #ddcb9e;
    }
}