#eyEQf8vXUpK2_tr {
	animation: eyEQf8vXUpK2_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK2_tr__tr {
	0% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
	}
	6.666667% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	93.333333% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
	100% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
}
#eyEQf8vXUpK2_ts {
	animation: eyEQf8vXUpK2_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK2_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.3, 1.3);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.3, 1.3);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
#eyEQf8vXUpK3_tr {
	animation: eyEQf8vXUpK3_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK3_tr__tr {
	0% {
		transform: translate(74.5px, 75px) rotate(0deg);
	}
	6.666667% {
		transform: translate(74.5px, 75px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: translate(74.5px, 75px) rotate(1800deg);
	}
	100% {
		transform: translate(74.5px, 75px) rotate(1800deg);
	}
}
#eyEQf8vXUpK3_ts {
	animation: eyEQf8vXUpK3_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK3_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.25, 1.25);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.25, 1.25);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
#eyEQf8vXUpK4_tr {
	animation: eyEQf8vXUpK4_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK4_tr__tr {
	0% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
	}
	6.666667% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	93.333333% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
	100% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
}
#eyEQf8vXUpK4_ts {
	animation: eyEQf8vXUpK4_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK4_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.3, 1.3);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.3, 1.3);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
#eyEQf8vXUpK5_tr {
	animation: eyEQf8vXUpK5_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK5_tr__tr {
	0% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
	}
	6.666667% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	93.333333% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
	100% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
}
#eyEQf8vXUpK5_ts {
	animation: eyEQf8vXUpK5_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK5_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.2, 1.2);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.2, 1.2);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
#eyEQf8vXUpK6_tr {
	animation: eyEQf8vXUpK6_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK6_tr__tr {
	0% {
		transform: translate(75px, 75px) rotate(0deg);
	}
	6.666667% {
		transform: translate(75px, 75px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	93.333333% {
		transform: translate(75px, 75px) rotate(720deg);
	}
	100% {
		transform: translate(75px, 75px) rotate(720deg);
	}
}
#eyEQf8vXUpK6_ts {
	animation: eyEQf8vXUpK6_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK6_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.1, 1.1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.1, 1.1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
#eyEQf8vXUpK7_tr {
	animation: eyEQf8vXUpK7_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK7_tr__tr {
	0% {
		transform: translate(74.154821px, 75px) rotate(0deg);
	}
	6.666667% {
		transform: translate(74.154821px, 75px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	93.333333% {
		transform: translate(74.154821px, 75px) rotate(1080deg);
	}
	100% {
		transform: translate(74.154821px, 75px) rotate(1080deg);
	}
}
#eyEQf8vXUpK7_ts {
	animation: eyEQf8vXUpK7_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK7_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.2, 1.2);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.2, 1.2);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
#eyEQf8vXUpK8_tr {
	animation: eyEQf8vXUpK8_tr__tr 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK8_tr__tr {
	0% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
	}
	6.666667% {
		transform: translate(74.5px, 74.79px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	93.333333% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
	100% {
		transform: translate(74.5px, 74.79px) rotate(1080deg);
	}
}
#eyEQf8vXUpK8_ts {
	animation: eyEQf8vXUpK8_ts__ts 1500ms linear infinite normal forwards;
}
@keyframes eyEQf8vXUpK8_ts__ts {
	0% {
		transform: scale(1, 1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	20% {
		transform: scale(1.1, 1.1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	80% {
		transform: scale(1.1, 1.1);
		animation-timing-function: cubic-bezier(0.775, 0, 0.2, 0.995);
	}
	100% {
		transform: scale(1, 1);
	}
}
